@page "/contact/"
@page "/contact/{id:int}"
@page "/contact/{id:int}/{name}"

@if (Id != null)
{
    if (Name != null)
    {
        <h3>Contact ID = @Id and Name = @Name</h3>
    }
    else
    {
        <h3>Contact ID = @Id</h3>
    }
}
else
{
    <h3>Contact Guest</h3>
}

@code {
    [Parameter]
    public int? Id { get; set; }

    [Parameter]
    public string? Name { get; set; }
}
